
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

  border: 1px solid #818181;
}

.stats__item:first-child {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.stats__item:last-child {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.stats__name {
  text-transform: uppercase;
  border-bottom: 1px solid #818181;
  padding: 8px;

}

.stats__value {
  padding: 8px;
}

.stats__input{ 
  display: inline-block;
  width: 50px;
}
input::placeholder{
}